In [7]:
import numpy
import pandas
import csv
#matplotlib
%pylab 


from pandas import DataFrame, Series

#Creating a basic series, with the index sequential from zero as default
obj = Series([4,7,-5,3])
print(obj)

#Custom index on the series
seriesWithIndexLables = Series([4,7,8,-3],['t', 'g', 'k', 'u'])
print(seriesWithIndexLables)

Using matplotlib backend: Qt5Agg
Populating the interactive namespace from numpy and matplotlib
0    4
1    7
2   -5
3    3
dtype: int64
t    4
g    7
k    8
u   -3
dtype: int64

In [2]:
# Essential involved in loading tabular CSV data into Python's pandas native objects

with open('usaPowerSources2001-2018.csv') as csvfile:
    reader = csv.DictReader(csvfile, delimiter=',')
    energy = [row for row in reader]
energyFrame = DataFrame(energy)
print(energyFrame)

        Month           all          coal           gas    nuclear  \
0    Jun 2018  371221.11742  101583.94363  130004.41333  69687.556
1    May 2018   339055.5936   85403.13102  115639.44714  67320.248
2    Apr 2018  302229.28643   73488.65372  100003.61252  59087.001
3    Mar 2018  319916.60728   80690.55923  103883.88733  67032.656
4    Feb 2018  306458.45619   82050.77866   96317.32706   64790.03
5    Jan 2018  373213.09324  118695.62129  109601.06473   74649.04
6    Dec 2017  345939.37196  106577.84568  106144.08596  73699.572
7    Nov 2017  306659.70487   91150.72831   92584.73744  66617.853
8    Oct 2017  319443.13323   90087.10551   106866.9962  65994.785
9    Sep 2017  334218.63547   98404.04979  116728.41076  68097.918
10   Aug 2017  382140.07945   119780.3038  139609.58728  72384.218
11   Jul 2017  401509.61422  127958.90356  144719.63007  71314.219
12   Jun 2017  357390.44285   107727.8219  116060.92544  67010.782
13   May 2017  321645.17809   92880.55771    96777.0161  61312.753
14   Apr 2017  293752.39022   81533.00434   86178.09577  56743.352
15   Mar 2017  320290.90876   89426.81248   94707.93997    65093.2
16   Feb 2017  290296.83611   86872.77353   81040.21242  63560.371
17   Jan 2017  341518.16656  115501.39938   91446.52856  73120.612
18   Dec 2016   345342.5767   118746.8419   96363.59628  71662.429
19   Nov 2016  297061.77158   86940.46241    93941.8345  65178.776
20   Oct 2016  312945.16374   99193.94367  102897.98607  60733.343
21   Sep 2016  351484.46797  114137.76825  125602.73981  65448.176
22   Aug 2016  409700.81159  135634.73331  154759.67321  71526.405
23   Jul 2016  411886.94212  136316.43397  151553.87196  70349.347
24   Jun 2016   367781.1956  116034.38414  131395.22913  67175.324
25   May 2016  316784.45662   81694.51025   110430.1923  66576.493
26   Apr 2016  292893.55015    72112.8619    98875.9473  62731.845
27   Mar 2016  304389.58085   72172.52681  103889.93756  66148.894
28   Feb 2016  313685.40058   92704.80797   98552.17908  65638.141
29   Jan 2016    352719.066  113459.37975  110043.74673  72524.775
..        ...           ...           ...           ...        ...
180  Jun 2003    328693.698     162284.63     54452.951  64180.727
181  May 2003    307544.887    150262.977     49372.963   62201.96
182  Apr 2003    285755.699    141959.981     45195.383  56775.591
183  Mar 2003    304317.265    155001.775     46699.026  59933.261
184  Feb 2003    299248.777    156982.481     43546.573  60941.869
185  Jan 2003    341988.901    181313.153     50175.746  69211.084
186  Dec 2002    324833.705    172189.765     46100.393  68905.472
187  Nov 2002    296289.561    156053.655     45160.876  61520.324
188  Oct 2002     307059.46    159099.294      54200.82  60493.052
189  Sep 2002    331279.434    165366.309     68161.131   64480.79
190  Aug 2002    374585.819    179955.447     84476.867  70777.688
191  Jul 2002    381542.107    183194.702     83917.269  70420.827
192  Jun 2002    341023.144    164667.695     65631.018  66371.896
193  May 2002    307674.569    151406.401     50275.237  63032.192
194  Apr 2002    289848.253    142304.595     49146.409  58437.062
195  Mar 2002    302549.011    151485.651     51214.464  63040.647
196  Feb 2002    281825.712    143048.822     44308.431  61658.274
197  Jan 2002    319941.476    164358.018     48412.832  70925.863
198  Dec 2001    305496.328     157402.35     47540.861  67430.878
199  Nov 2001    278933.942    144116.998     44490.622  62341.711
200  Oct 2001    294733.613    148930.816     56376.441  60460.967
201  Sep 2001    306928.866    154158.317      60181.14  63378.451
202  Aug 2001    370532.828    183116.073     78409.804  68389.496
203  Jul 2001      357613.7     179060.41     73030.142   69166.04
204  Jun 2001    327693.978    162615.804     57603.154  68023.098
205  May 2001    300491.621    151592.914     50934.205  61512.445
206  Apr 2001    278078.871    140670.654     45842.746  56003.026
207  Mar 2001    300706.544    155269.011     44364.414  62140.712
208  Feb 2001    282940.198    149735.484     37966.927  61272.407
209  Jan 2001     332493.16    177287.111     42388.663  68707.077

           hydro         wind        solar
0    27414.63061  24410.59252   10880.2146
1    30291.35444  23405.14228  10090.40049
2      27615.075  26756.67629   8832.55373
3    25887.23759  27275.00131   7513.49141
4    25593.22282  23935.67953   5811.53557
5    25422.00124  26833.63985   4917.07965
6    22506.93802   22775.7812   4535.70194
7    19840.47084  23320.13583   4694.43955
8    17210.51445   24821.2004   6832.25219
9    18964.59503  17268.05514   7408.16652
10   21240.74486   13088.8313   7902.59799
11    25745.0234  15764.96273   8082.57328
12   30423.83921   19711.0863   8755.11686
13   32177.00035  22641.88151   8206.65343
14   29319.64282  25752.89773   6984.71719
15   30220.91547  26132.69711   6419.35792
16    24541.6545  22228.20184   3879.82683
17   27853.16425   20748.6083   3395.53038
18   22527.76456  23145.52474   3590.66861
19   18808.26528  19405.64211    4023.9887
20   17338.85654  20335.38978   4743.28769
21   16367.68403  16403.64017   5370.44767
22   19569.54914  13589.32615   5910.82805
23   21455.32093  17618.35712   5945.07716
24   23236.86739   16303.4413   5401.26493
25   25486.38143  18847.89867   5304.17484
26   25878.02878  20799.30345   4582.61853
27    27389.8772  21939.40933   4142.59215
28   24139.01548   20138.2278   3386.13613
29   25614.54233  18466.40151   2465.40732
..           ...          ...          ...
180      28586.3     1047.144
181    29395.256     1006.383
182    24758.962     1092.766
183    24202.273     1036.104
184     19779.86      745.375
185    20600.079       632.34
186     21668.54      755.194
187    19730.029      655.946
188    17171.334      734.355
189    17086.782      735.828
190    21083.924      976.691
191    25470.647      890.455
192    28212.847     1126.315
193    26662.695     1077.641
194    24246.605     1024.417
195    21008.813      852.102
196    20191.683      713.932
197    21794.932      811.402
198    19346.314      615.657
199    15412.929      470.448
200    15234.503      606.829
201    15256.027      490.229
202    18913.768      577.206
203    18079.119      634.992
204     20727.63      669.634
205    19175.635      635.029
206    18012.994      684.695
207    20477.189       532.12
208    17472.889      431.242
209    18852.048       389.25

[210 rows x 8 columns]

In [5]:
# with data in our DataFrame, we can start tinkering!
#Print only a series
print(energyFrame['solar'])
data = energyFrame['solar'].mean()
print(data)
print(energyFrame.describe())

0       10880.2146
1      10090.40049
2       8832.55373
3       7513.49141
4       5811.53557
5       4917.07965
6       4535.70194
7       4694.43955
8       6832.25219
9       7408.16652
10      7902.59799
11      8082.57328
12      8755.11686
13      8206.65343
14      6984.71719
15      6419.35792
16      3879.82683
17      3395.53038
18      3590.66861
19       4023.9887
20      4743.28769
21      5370.44767
22      5910.82805
23      5945.07716
24      5401.26493
25      5304.17484
26      4582.61853
27      4142.59215
28      3386.13613
29      2465.40732
          ...
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
Name: solar, Length: 210, dtype: object

TypeError: Could not convert 10880.214610090.400498832.553737513.491415811.535574917.079654535.701944694.439556832.252197408.166527902.597998082.573288755.116868206.653436984.717196419.357923879.826833395.530383590.668614023.98874743.287695370.447675910.828055945.077165401.264935304.174844582.618534142.592153386.136132465.407322483.858932711.709573107.287333546.775564155.601574113.745143965.611723897.985563642.646413205.834262299.318361901.796471797.812562171.441482681.800982878.621263018.616692936.226653023.88672841.666412475.521022224.123661498.820931375.15155 to numeric

In [4]:
# pandas native imports
# automatic typing here
energyImport = pandas.read_csv('usaPowerSources2001-2018.csv',index_col='Month')
# print(energyImport)
# energyImport.describe()
# energyImport.max()
print(energyImport.corr())
print(energyImport.pct_change())

              all      coal       gas   nuclear     hydro      wind     solar
all      1.000000  0.424947  0.641943  0.793209  0.172844 -0.009485  0.117371
coal     0.424947  1.000000 -0.382225  0.339381 -0.108830 -0.855888 -0.419920
gas      0.641943 -0.382225  1.000000  0.427719  0.104000  0.633072  0.430334
nuclear  0.793209  0.339381  0.427719  1.000000  0.089752  0.034633 -0.029319
hydro    0.172844 -0.108830  0.104000  0.089752  1.000000  0.216961  0.430521
wind    -0.009485 -0.855888  0.633072  0.034633  0.216961  1.000000  0.483836
solar    0.117371 -0.419920  0.430334 -0.029319  0.430521  0.483836  1.000000
               all      coal       gas   nuclear     hydro      wind     solar
Month
Jun 2018       NaN       NaN       NaN       NaN       NaN       NaN       NaN
May 2018 -0.086648 -0.159285 -0.110496 -0.033970  0.104934 -0.041189 -0.072592
Apr 2018 -0.108614 -0.139509 -0.135212 -0.122300 -0.088351  0.143196 -0.124658
Mar 2018  0.058523  0.098000  0.038801  0.134474 -0.062569  0.019372 -0.149341
Feb 2018 -0.042068  0.016857 -0.072837 -0.033456 -0.011358 -0.122432 -0.226520
Jan 2018  0.217826  0.446612  0.137916  0.152169 -0.006690  0.121073 -0.153910
Dec 2017 -0.073078 -0.102091 -0.031541 -0.012719 -0.114667 -0.151223 -0.077562
Nov 2017 -0.113545 -0.144750 -0.127745 -0.096089 -0.118473  0.023901  0.034997
Oct 2017  0.041686 -0.011669  0.154261 -0.009353 -0.132555  0.064368  0.455393
Sep 2017  0.046254  0.092321  0.092277  0.031868  0.101919 -0.304302  0.084293
Aug 2017  0.143384  0.217229  0.196021  0.062943  0.120021 -0.242021  0.066741
Jul 2017  0.050687  0.068280  0.036602 -0.014782  0.212058  0.204459  0.022774
Jun 2017 -0.109883 -0.158106 -0.198029 -0.060345  0.181737  0.250310  0.083209
May 2017 -0.100017 -0.137822 -0.166153 -0.085032  0.057625  0.148688 -0.062645
Apr 2017 -0.086719 -0.122174 -0.109519 -0.074526 -0.088801  0.137401 -0.148896
Mar 2017  0.090343  0.096817  0.098979  0.147151  0.030740  0.014748 -0.080942
Feb 2017 -0.093646 -0.028560 -0.144314 -0.023548 -0.187925 -0.149410 -0.395605
Jan 2017  0.176445  0.329547  0.128409  0.150412  0.134934 -0.066564 -0.124824
Dec 2016  0.011198  0.028099  0.053770 -0.019942 -0.191196  0.115522  0.057469
Nov 2016 -0.139806 -0.267850 -0.025132 -0.090475 -0.165107 -0.161581  0.120679
Oct 2016  0.053468  0.140941  0.095337 -0.068204 -0.078126  0.047911  0.178753
Sep 2016  0.123150  0.150653  0.220653  0.077632 -0.056011 -0.193345  0.132221
Aug 2016  0.165630  0.188342  0.232136  0.092871  0.195621 -0.171566  0.100621
Jul 2016  0.005336  0.005026 -0.020715 -0.016456  0.096363  0.296485  0.005794
Jun 2016 -0.107082 -0.148787 -0.133013 -0.045118  0.083035 -0.074633 -0.091473
May 2016 -0.138661 -0.295946 -0.159557 -0.008914  0.096808  0.156069 -0.017975
Apr 2016 -0.075417 -0.117286 -0.104629 -0.057748  0.015367  0.103534 -0.136036
Mar 2016  0.039250  0.000827  0.050710  0.054471  0.058422  0.054815 -0.096021
Feb 2016  0.030539  0.284489 -0.051379 -0.007721 -0.118688 -0.082098 -0.182605
Jan 2016  0.124436  0.223878  0.116604  0.104918  0.061126 -0.083018 -0.271911
...            ...       ...       ...       ...       ...       ...       ...
Jun 2003 -0.122070 -0.107602 -0.292251 -0.078562  0.150674  0.098331       NaN
May 2003 -0.064342 -0.074078 -0.093291 -0.030831  0.028299 -0.038926       NaN
Apr 2003 -0.070849 -0.055256 -0.084613 -0.087238 -0.157723  0.085835       NaN
Mar 2003  0.064956  0.091870  0.033270  0.055617 -0.022484 -0.051852       NaN
Feb 2003 -0.016655  0.012779 -0.067506  0.016829 -0.182727 -0.280598       NaN
Jan 2003  0.142825  0.154990  0.152232  0.135690  0.041467 -0.151648       NaN
Dec 2002 -0.050163 -0.050318 -0.081222 -0.004416  0.051867  0.194285       NaN
Nov 2002 -0.087873 -0.093711 -0.020380 -0.107178 -0.089462 -0.131421       NaN
Oct 2002  0.036349  0.019517  0.200172 -0.016698 -0.129685  0.119536       NaN
Sep 2002  0.078877  0.039391  0.257566  0.065921 -0.004924  0.002006       NaN
Aug 2002  0.130725  0.088223  0.239370  0.097655  0.233932  0.327336       NaN
Jul 2002  0.018571  0.018000 -0.006624 -0.005042  0.208060 -0.088294       NaN
Jun 2002 -0.106198 -0.101133 -0.217908 -0.057496  0.107661  0.264876       NaN
May 2002 -0.097790 -0.080534 -0.233971 -0.050318 -0.054945 -0.043215       NaN
Apr 2002 -0.057939 -0.060115 -0.022453 -0.072901 -0.090617 -0.049389       NaN
Mar 2002  0.043819  0.064517  0.042079  0.078779 -0.133536 -0.168208       NaN
Feb 2002 -0.068496 -0.055694 -0.134845 -0.021928 -0.038895 -0.162152       NaN
Jan 2002  0.135246  0.148964  0.092633  0.150306  0.079401  0.136526       NaN
Dec 2001 -0.045149 -0.042320 -0.018011 -0.049277 -0.112348 -0.241243       NaN
Nov 2001 -0.086948 -0.084404 -0.064160 -0.075472 -0.203314 -0.235860       NaN
Oct 2001  0.056643  0.033402  0.267153 -0.030168 -0.011576  0.289896       NaN
Sep 2001  0.041377  0.035100  0.067487  0.048254  0.001413 -0.192146       NaN
Aug 2001  0.207227  0.187844  0.302897  0.079065  0.239757  0.177421       NaN
Jul 2001 -0.034866 -0.022148 -0.068610  0.011355 -0.044129  0.100113       NaN
Jun 2001 -0.083665 -0.091838 -0.211241 -0.016525  0.146496  0.054555       NaN
May 2001 -0.083011 -0.067785 -0.115774 -0.095712 -0.074876 -0.051677       NaN
Apr 2001 -0.074587 -0.072050 -0.099961 -0.089566 -0.060631  0.078211       NaN
Mar 2001  0.081371  0.103777 -0.032248  0.109596  0.136801 -0.222836       NaN
Feb 2001 -0.059082 -0.035638 -0.144203 -0.013973 -0.146714 -0.189578       NaN
Jan 2001  0.175136  0.184002  0.116463  0.121338  0.078931 -0.097375       NaN

[210 rows x 7 columns]

In [6]:
# visualization
%pylab
energyImport.plot()

Using matplotlib backend: Qt5Agg
Populating the interactive namespace from numpy and matplotlib